<div class="container mt-5">
  <h2 class="mb-4">Formulario de Pedido de Mesa</h2>
  <form [formGroup]="form" (ngSubmit)="create()">
    <div class="form-group">
      <label for="numeroMesa">Número de Mesa</label>
      <input formControlName="numeroMesa" type="number" class="form-control" id="numeroMesa" placeholder="Ingrese el número de mesa">
    </div>

    <div formArrayName="productos">
      <div *ngFor="let producto of productosArray.controls; let i = index" [formGroupName]="i" class="producto-group">
        <div class="form-group">
          <label for="producto{{i}}">Producto</label>
          <input formControlName="productoId" type="number" class="form-control" id="producto{{i}}">
        </div>
        <div class="form-group">
          <label for="cantidad{{i}}">Cantidad</label>
          <input formControlName="cantidad" type="number" class="form-control" id="cantidad{{i}}">
        </div>
        <button type="button" class="btn btn-danger" (click)="removeProducto(i)">Eliminar</button>
      </div>
    </div>

    <button type="button" class="btn btn-secondary" (click)="addProducto()">Añadir Producto</button>
    <button type="submit" class="btn btn-primary">Enviar Pedido</button>
  </form>
</div>
