<div class="container mt-5">
  <h1 class="fw-bold">MESAS</h1>

  <div class="mb-3 d-flex justify-content-end">
    <a class="btn btn-primary" routerLink="/table-add">Agregar Mesas</a>
  </div>

  <div class="overflow-x-auto table-responsive">
    <table class="min-w-full border-collapse table">
      <thead class="bg-blue-600 table-dark">
        <tr>
          <th class="p-3 text-center">ID° DE MESA</th>
          <th class="p-3 text-center">NÚMERO DE MESA</th>
        </tr>
      </thead>
      <tbody class="text-center">
        @for (table of tableService.getTables(); track $index){
        <tr class="border-b">
          <td class="p-3">{{ table.id }}</td>
          <td class="p-3">{{ table.numeroMesa }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>