<div class="container mt-5">
    <h1 class="fw-bold">PRODUCTOS</h1>
    <div class="mb-3 d-flex justify-content-end">
        <button class="btn btn-primary" routerLink="/producto-create">Agregar Producto</button>
    </div>
    <div class="overflow-x-auto table-responsive">
        <table class="min-w-full border-collapse table">
            <thead class="bg-blue-600 table-dark">
                <tr>
                    <th class="p-3 text-center">NOMBRE</th>
                    <th class="p-3 text-center">DESCRIPCION</th>
                    <th class="p-3 text-center">PRECIO</th>
                    <th class="p-3 text-center">ESTADO</th>
                    <th class="p-3 text-center">ACCIÓNES</th>
                </tr>
            </thead>
            
            <tbody class="text-center">
                @if(products.length === 0){
                <tr>
                    <td colspan="6">No productos disponibles</td>
                </tr>
                }
                @for(product of products; track product.id){
                <tr class="border-b">
                    <td class="p-3">{{ product.nombre }}</td>
                    <td class="p-3">{{ product.descripcion}}</td>
                    <td class="p-3">S/ {{product.precio}}</td>
                    <td class="p-3">{{ product.disponible ? 'Activo' : 'Inactivo' }}</td>
                    <td class="p-3">
                        <div class="mb-2">
                        <button 
                            class="btn" 
                            [ngClass]="product.disponible ? 'btn-danger bg-red-500' : 'btn-success bg-green-500'"
                            (click)="toggleDisponibilidad(product)"
                        >
                            {{ product.disponible ? 'Desactivar' : 'Activar' }}
                        </button>
                        </div>
                        <div class="mb-2">
                        <button class="btn btn-warning bg-red-500 text-white rounded-lg px-4 py-2 hover:bg-red-700 ms-2" [routerLink]="['/producto-edit', product.id]">Editar</button>
                        </div>
                    </td>
                </tr>}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-secondary" (click)="paginaAnterior()" [disabled]="paginaActual === 0">Anterior</button>
        <span> Página {{ paginaActual + 1 }} de {{ totalPaginas }} </span>
        <button class="btn btn-secondary" (click)="siguientePagina()" [disabled]="paginaActual >= totalPaginas - 1">Siguiente</button>
      </div>
</div>

  