<div class="container mt-5">
    <h1 class="fw-bold">ORDENES</h1>
    <div class="overflow-x-auto table-responsive">
      <table class="min-w-full border-collapse table">
        <thead class="bg-blue-600 table-dark">
          <tr>
            <th class="p-3 text-center">NRO DE MESA</th>
            <th class="p-3 text-center">FECHA</th>
            <th class="p-3 text-center">ACCIÓN</th>
          </tr>
        </thead>
        
        <tbody class="text-center">
          @for (order of orders; track order.id) {
            <tr class="border-b">
              <td class="p-3">{{ order.mesaId }}</td>
              <td class="p-3">{{ order.fechaHora }}</td>
              <td class="p-3">
                <button (click)="toggleDetails(order.id)" class="btn btn-secondary ">
                  {{ expandedOrderId === order.id ? 'Ocultar detalles' : 'Mostrar detalles' }}
                </button>
              </td>
            </tr>
            @if (expandedOrderId === order.id) {
              <tr class="border-b">
                <td colspan="3">
                  <div class="d-flex justify-content-center align-items-center">
                    <table class="min-w-full border-collapse mt-2">
                      <thead>
                        <tr>
                          <th class="fw-bold p-3 text-center">PRODUCTO ID</th>
                          <th class="fw-bold p-3 text-center">NOMBRE PRODUCTO</th>
                          <th class="fw-bold p-3 text-center">CANTIDAD</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (detail of order.detallesOrden; track detail.productoId) {
                          <tr>
                            <td class="p-3 text-center">{{ detail.productoId }}</td>
                            <td class="p-3 text-center">{{ detail.nombreProducto }}</td>
                            <td class="p-3 text-center">{{ detail.cantidad }}</td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
  