<div class="container mt-5">
    <h1>Ordenes</h1>
    <div class="overflow-x-auto">
      <table class="min-w-full border-collapse">
        <thead class="bg-blue-600">
          <tr>
            <th class="p-3 text-center">Nro de Mesa</th>
            <th class="p-3 text-center">Fecha</th>
            <th class="p-3 text-center">Acción</th>
          </tr>
        </thead>
        
        <tbody>
          @for (order of orders; track order.id) {
            <tr class="border-b">
              <td class="p-3">{{ order.mesaId }}</td>
              <td class="p-3">{{ order.fechaHora }}</td>
              <td class="p-3">
                <button (click)="toggleDetails(order.id)" class="bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-700">
                  {{ expandedOrderId === order.id ? 'Ocultar detalles' : 'Mostrar detalles' }}
                </button>
              </td>
            </tr>
            @if (expandedOrderId === order.id) {
              <tr class="border-b">
                <td colspan="3">
                  <table class="min-w-full border-collapse mt-2">
                    <thead>
                      <tr>
                        <th class="p-3 text-center">Producto ID</th>
                        <th class="p-3 text-center">Nombre Producto</th>
                        <th class="p-3 text-center">Cantidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (detail of order.detallesOrden; track detail.productoId) {
                        <tr>
                          <td class="p-3 text-center">{{ detail.productoId }}</td>
                          <td class="p-3 text-center">{{ detail.nombreProducto }}</td>
                          <td class="p-3 text-center">{{ detail.cantidad }}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
  